* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}
.offers__container {
    /* don't set width */
    overflow: hidden;
    margin: 0 auto;
}

.offers__list {
    /* don't set width */
    list-style-type: none;
    text-align: center;
    background-color: rgb(200, 255, 255);
    display: flex;
    transition: .5s;
}

.offers__item {
    /* set width */
    width: 200px;
    height: 100px;
    display: inline-block;
}

.offers__item:nth-of-type(1) {
    background-color: teal;
}

.offers__item:nth-of-type(2) {
    background-color: rgb(65, 161, 251);
}

.offers__item:nth-of-type(3) {
    background-color: rgb(251, 180, 65);
}

.offers__item:nth-of-type(4) {
    background-color: teal;
}

.offers__item:nth-of-type(5) {
    background-color: rgb(65, 161, 251);
}

.offers__item:nth-of-type(6) {
    background-color: rgb(251, 180, 65);
}

.offers__dot {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-color: tomato;
    border-radius: 50%;
}

.offers__dot--active {
    background-color: yellowgreen;
}