* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    font-family: 'Montserrat', sans-serif;
    color: rgb(39, 39, 39);
}

.offers__title {
    text-align: center;padding: 30px 10px;
    font-weight: 400;
}
.offers__container {
    /* don't set width */
    overflow: hidden;
    margin: 0 auto;
}

.offers__list {
    /* don't set width */
    list-style-type: none;
    text-align: center;
    display: flex;
    transition: .5s;
}

.offers__item {
    /* set width */
    width: 640px;
    padding: 20px;
    max-width: 100%;
    display: inline-block;
}

.plan__container {
    height: 640px;
    background-color: rgb(247, 247, 247);
    box-shadow: 3px 3px 20px 0px rgba(0,0,0,0.22);
    padding: 30px 30px 40px 30px;
    position: relative;
}

.plan__title {
    font-family: 'Oleo Script', cursive;
    font-size: 42px;
    position: relative;
    z-index: 2;
    
}

.plan__container::after {
    content: '';
    display: inline-block;
    background-color: red;
    width: 60%;
    height: 100px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    box-shadow: 3px 3px 3px 0px rgba(0,0,0,0.36);
}

.plan__price {
    font-size: 82px;
    margin-top: 42px;
    margin-bottom: 10px;
    position: relative;
}

.plan__currency {
    font-size: 16px;
    position: absolute;
    top: 34px;
    padding-left: 20px;
    line-height: 26px;
    text-align: left;
}

.plan__list {
    list-style-type: none;
}

.plan__item {
    font-size: 18px;
    line-height: 24px;
    padding: 18px 0 12px 0;;
    margin: 0 20px;
    border-bottom: 1px solid rgb(219, 219, 219);
}

.plan__item:last-of-type {
    border: none;
}

.offers__dot {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-color: tomato;
    border-radius: 50%;
}

.offers__dot--active {
    background-color: yellowgreen;
}