* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    font-family: 'Montserrat', sans-serif;
    color: rgb(39, 39, 39);
}

.offers {
    margin: 0 auto;
    padding-bottom: 20px;
    position: relative;
}

.offers__title {
    text-align: center;padding: 30px 10px;
    font-weight: 500;
}

.offers__container {
    /* don't set width */
    overflow: hidden;
    margin: 0 auto;
}

.offers__btn {
    width: 60px;
    height: 60px;
    position: absolute;
    top: 50%;
    cursor: pointer;
}

.offers__btn--prev {
    background-image: url('./icons/prev.png');
    background-size: contain;
    left: 0;
}

.offers__btn--next {
    background-image: url('./icons/next.png');
    background-size: contain;
    right: 0;
}

.offers__list {
    /* don't set width */
    list-style-type: none;
    text-align: center;
    display: flex;
    transition: .5s;
}

.offers__item {
    /* set width in js */
    padding: 20px;
    max-width: 100%;
    display: inline-block;
}

.plan__container {
    height: 640px;
    width: 100%;
    background-color: rgb(247, 247, 247);
    box-shadow: 3px 3px 20px 0px rgba(0,0,0,0.22);
    padding: 30px 30px 40px 30px;
    position: relative;
    border-radius: 4px;
}

.plan__title {
    font-family: 'Oleo Script', cursive;
    font-size: 42px;
    position: relative;
    z-index: 2;
    color: #fff;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.308)
}

.plan__container::after {
    content: '';
    display: inline-block;
    background-color: rgb(126, 126, 126);
    width: 60%;
    height: 100px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    box-shadow: 3px 3px 3px 0px rgba(0, 0, 0, 0.438);
}

.offers__item:nth-of-type(1) .plan__container::after {
    background-color: rgb(106, 202, 138);
}

.offers__item:nth-of-type(2) .plan__container::after {
    background-color: rgb(84, 175, 228);
}

.offers__item:nth-of-type(3) .plan__container::after {
    background-color: rgb(251, 97, 35);
}

.offers__item:nth-of-type(4) .plan__container::after {
    background-color: rgb(66, 1, 139);
}

.plan__price {
    font-size: 82px;
    margin-top: 42px;
    margin-bottom: 10px;
    position: relative;
}

.offers__item:nth-of-type(1) .plan__price {
    color: rgb(106, 202, 138);
}

.offers__item:nth-of-type(2) .plan__price {
    color: rgb(84, 175, 228);
}

.offers__item:nth-of-type(3) .plan__price {
    color: rgb(251, 97, 35);
}

.offers__item:nth-of-type(4) .plan__price {
    color: rgb(66, 1, 139);
}
 
.plan__currency {
    font-size: 16px;
    position: absolute;
    top: 34px;
    padding-left: 20px;
    line-height: 26px;
    text-align: left;
}

.plan__list {
    list-style-type: none;
}

.plan__item {
    font-size: 18px;
    line-height: 24px;
    padding: 18px 0 12px 0;;
    margin: 0 20px;
    border-bottom: 1px solid rgb(219, 219, 219);
}

.plan__item:last-of-type {
    border: none;
}

.offers__dots {
    text-align: center;
    padding-top: 20px;
}

.offers__dot {
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 3px solid rgb(223, 223, 223);
    border-radius: 50%;
    margin: 3px;
    cursor: pointer;
}

.offers__dot--active {
    background-color: rgb(223, 223, 223);
}